In [ ]:

import pandas as pd

df = pd.read_csv('../run_ww_2019_w.csv')

df.head()

,Unnamed: 0,datetime,athlete,distance,duration,gender,age_group,country,major
0,0,2019-01-01,0,0.00,0.00,F,18 - 34,United States,CHICAGO 2019
1,1,2019-01-01,1,5.27,30.20,M,35 - 54,Germany,BERLIN 2016
2,2,2019-01-01,2,9.30,98.00,M,35 - 54,United Kingdom,"LONDON 2018,LONDON 2019"
3,3,2019-01-01,3,103.13,453.40,M,18 - 34,United Kingdom,LONDON 2017
4,4,2019-01-01,4,34.67,185.65,M,35 - 54,United States,BOSTON 2017