# CSC 2621 Final Project: Running (Away)
### Members: Alex Ewart, Mikhail Filippov, Benjamin Liebl

In this Final Project, we will perform statistical analyses and use different models for a [Running](https://www.kaggle.com/datasets/mexwell/long-distance-running-dataset?resource=download&select=run_ww_2019_w.csv) dataset. Our hypotheses are:
1. During the year 2020, athletes ran **less** distance overall than the same athletes in the year 2019.
2. ...

In [15]:
#imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import dill
import os

if os.path.exists('final_project.db'):
    dill.load_session('final_project.db')

### Dataset
TODO

### Data Preprocessing
TODO

In [ ]:
# load data
if not os.path.exists('final_project.db'):
    df_2019 = pd.read_csv('../run_ww_2019_w.csv')
    df_2020 = pd.read_csv('../run_ww_2020_w.csv')

display(df_2019.head())
display(df_2020.head())

,Unnamed: 0,datetime,athlete,distance,duration,gender,age_group,country,major
0,0,2019-01-01,0,0.00,0.00,F,18 - 34,United States,CHICAGO 2019
1,1,2019-01-01,1,5.27,30.20,M,35 - 54,Germany,BERLIN 2016
2,2,2019-01-01,2,9.30,98.00,M,35 - 54,United Kingdom,"LONDON 2018,LONDON 2019"
3,3,2019-01-01,3,103.13,453.40,M,18 - 34,United Kingdom,LONDON 2017
4,4,2019-01-01,4,34.67,185.65,M,35 - 54,United States,BOSTON 2017

,Unnamed: 0,datetime,athlete,distance,duration,gender,age_group,country,major
0,0,2020-01-01,0,0.00,0.000000,F,18 - 34,United States,CHICAGO 2019
1,1,2020-01-01,1,70.33,394.200000,M,35 - 54,Germany,BERLIN 2016
2,2,2020-01-01,2,14.65,79.066667,M,35 - 54,United Kingdom,"LONDON 2018,LONDON 2019"
3,3,2020-01-01,3,41.41,195.666667,M,18 - 34,United Kingdom,LONDON 2017
4,4,2020-01-01,4,41.34,209.100000,M,35 - 54,United States,BOSTON 2017

In [17]:
df_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1893424 entries, 0 to 1893423
Data columns (total 9 columns):
 #   Column      Dtype
---  ------      -----
 0   Unnamed: 0  int64
 1   datetime    object
 2   athlete     int64
 3   distance    float64
 4   duration    float64
 5   gender      object
 6   age_group   object
 7   country     object
 8   major       object
dtypes: float64(2), int64(2), object(5)
memory usage: 130.0+ MB

In [14]:
df_2019.groupby('athlete')['distance'].value_counts()

athlete  distance
0        0.000       34
         4.630        1
         4.830        1
         6.450        1
         10.190       1
                     ..
37598    147.810      1
         151.799      1
         155.550      1
         160.620      1
         178.930      1
Name: count, Length: 1437710, dtype: int64

### Data Analysis and Visualization
TODO

### Data Modeling and Prediction
TODO

### Results
TODO

In [ ]:
# run to save state
dill.dump_session('final_project.db')